.header {
    color: #FFF;
    background-color: #000099;
    background-color: rgb(0, 0, 153);
}

body {

}

main {
    color: black;
    background-color: whitesmoke;
}

.footer {
    color: black;
    background-color: #66CCFF;
}

